<div class="row" *ngIf="customers$ | async as customers">
  <div class="row" *ngIf="customers.length > 0  else noCustomers">
    <div class="col-xs-8">
      All Customers({{ customers.length }})
    </div>
    <div class="col-xs-4">
    </div>
  </div>
  <hr>
  <div class="row" *ngIf="customers.length > 0">
    <div class="col-xs-12">
      <table class="table table-striped">
        <thead>
        <tr>
          <th class="col" sortable="firstName">Name</th>
          <th scope="col" sortable="lastName">Surname</th>
          <th scope="col">Cell Number</th>
          <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let customer of customers">
          <td>{{ customer.firstName }}</td>
          <td>{{ customer.lastName }}</td>
          <td>{{ customer.cellphoneNumber }}</td>
          <a (click)="showCustomerDetails(customer.id)">Read more...</a>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <ng-template #noCustomers>
    <div class="alert alert-info">
      <h4>No customers to show at the moment!</h4>
    </div>
  </ng-template>
  <app-custom-error *ngIf="error" [error]="error"></app-custom-error>  
</div>
